<!DOCTYPE html>
<html>
  <head>
    <meta content = 'text/html; charset=UTF-8' http-equiv = 'Content-Type' />
  </head>
  <body>
    <h3>+ <%= @post.title %></h3>
    <%= @post.content.html_safe %> 
    <p>다른 인터뷰들을 <a href="http://www.humantour.org:3000">HUMANTOUR 홈페이지</a>에서 확인하세요!</p>
  </body>
</html>


