section.posts1 {
  padding: 10px 10px; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
  background: #000099;
  opacity: 0.3;
}

.posts1:hover {
  opacity: 1;
}

.posts1 img {
  padding: 10px;
  float: left;
}

.posts1 p {
  text-align: right; 
  color: #fff;
}

.posts1 h4 {
  color: #fff;
  text-align: right; 
}
.posts1 a, a:visited{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.posts1 a:hover{
  opacity: 0.6;
}

section.posts2 {
  padding: 10px 10px; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
  background: #FF6600;
  opacity: 0.3;
}
.posts2:hover {
  opacity: 1;
}
.posts2 img {
  padding: 10px;
  float: left;
}

.posts2 p {
  text-align: right; 
  color: #fff;
}

.posts2 h4 {
  color: #fff;
  text-align: right; 
}
.posts2 a, a:visited{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.posts2 a:hover{
  opacity: 0.6;
}



section.posts3 {
  padding: 10px 10px; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
  background: #007A00;
  opacity: 0.3;
}

.posts3:hover {
  opacity: 1;
}

.posts3 img {
  padding: 10px;
  float: left;
}

.posts3 p {
  text-align: right; 
  color: #fff;
}

.posts3 h4 {
  color: #fff;
  text-align: right; 
}
.posts3 a, a:visited{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.posts3 a:hover{
  opacity: 0.6;
}



section.introduction {
  padding: 20px 0;
  background: #996633;
  opacity: 0.7;
}

.introduction p {
  text-align: center;
  color: #fff;
}

.introduction h3 {
  text-align: center;
}

