

div.interview_card {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  background: #fff;
  padding: 5px;
  margin: 20px 10px 0 10px;
  display: inline-block;
}

.interview_card p {
  text-align: right;
  padding: 0 10px 0 0;
  color: #000;
}
.interview_card strong{
  color: #000;
}

.interview_card h4 {
  color: #000;
  text-align: center; 
}

.interview_card a.link_post, a.link_post:visited {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

.posts2 a:hover {
  opacity: 0.6;
}
