 <section class="toppart"> 
   <div class="row"> 
   <br><br><br><br><br><br>
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>
  </div>
</section>

<section class="write" style="background: #CC3300;">
  <div class="row">
      <h3 class="form-heading">로그인하기</h3>
      <form action="/users/login_complete" method="post">
        <p><input class="form-input" type="text" name="username" placeholder="아이디"></p>
        <p><input class="form-input" type="password" name="password" placeholder="비밀번호"></p>
        <input class="btn btn-lg btn-block" type="submit" value="로그인">
      </form>
  </div>
</section>



