body{background: #cccccc;}
.primary-color,.cbp-af-header.cbp-af-header-shrink .menu-list li.active a
	{
	color: #ec6a2c !important;
}


/*==header section css===*/
.separator
	{
	color: #222;
}


