<link rel="stylesheet" href="/css/sections_about_bw.css">
<section class="margin">
  <div class="row">
  <p style="margin-bottom:120px;"></p>
  </div>
</section>
<section class="toppart">
  <div class="row">
    <% if !flash[:alert].nil? %>
    <div class="alert alert-danger">
      <p style="text-align: center;"> <%= flash[:alert] %></p>
    </div>
    <% end %>
  </div>
</section>

<!--<section class="email" style="padding: 80px 0; background: #009933;">-->
<section class="email">
  <div class="row">
    <form action="/users/subscribe_complete" method="post">
      <p><input class="form-input" type="text" style="display: block; margin-left: auto; margin-right: auto; width: 50%; text-align: center; height:15px;" name="email" placeholder="인터뷰 구독신청을 할 이메일을 입력하세요"></p>
      <p style="text-align: center;"><input class="btn btn-lg btn-block" type="submit" value="구독신청" style="width: 100px; border: 5px solid #ccc; -webkit-border-radius: 10px; border-radius: 10px;"></p>
    </form>
  </div>
</section>
    <a name="what"></a>
<section class="what">
  <div class="row" id="what">
    <h2>What is<br> HUMAN TOUR?</h2>
    <h3>HUMAN TOUR는 세상을 향한 의미 있는 '질문'을 찾습니다</h3>
    <p>  'HUMAN TOUR(부제 : 당신에게 묻습니다)'는 세상과 인식의 지평을 넓힌 이들로 불리는 혁신적인 인물을 찾아가, 각 인물에게서 세상을 향한 의미 있는 '질문'을 담아오는 인터뷰 프로젝트입니다.</p>
    <p>  세상을 향한 의미 있는 '질문'을 찾고, 다듬고, 전파하며 지식과 경험, 이야기들의 공유와 확산을 꾀합니다.</p>
    <p>  누구나 '질문'에 대한 제 나름의 답을 이야기하고, 그렇게 모인 답들이 만들어갈 더 나은 세상을 꿈꿉니다.</p>
    <p style="margin-bottom:30px;"></p>
    <h3>HUMAN TOUR looks for meaningful questions about the world.</h3>
    <p>  'HUMAN TOUR' sets out to meet 'pioneers' who inspire and lead us into unknown frontiers, and asks for their 'questions' for the world.</p>
    <p>  We discover, revise, and televise stimulating questions. We strive to spread new stories, experiences, and knowledge. We dream of a better world where everyone's answers deepen the shared undestanding of one another.</p>
  </div>
</section>
    <a name="prime"></a>
<section class="prime" id="prime">
  <div class="row">
    <h2>Who is<br>Prime Mover?</h2>
    <h3>Prime Mover, 세상의 지평을 넓힌 사람들을 만나러 갑니다.</h3>
    <p>하나의 생각에 또 다른 생각이 더해져, 하나의 움직임에 또 다른 움직임이 더해져 만들어지는 더 나은 세상.</p>
    <p>그런 세상 속에는 새로운 지평을 넓혀가고자 끊임없이 '질문'하고 '고민'하는 Prime Mover라 불리는 사람들이 있습니다.</p>
    <p style="margin-bottom:10px;"></p>
    <p>남들이 꿈꿔보지 못한 세상을 꿈꾸고, 생각하지 못한 것을 생각하며</p>
    <p>감히 시도되지 못했던 것을 시도하는 사람들</p>
    <p>그렇게 오늘의 세상을 어제와 다른 곳으로 만드는 사람들</p>
    <p>우리는 그들을 Prime Mover라 부릅니다.</p>
    <p style="margin-bottom:30px;"></p>
    <h3>*Prime Mover = (philosophy) The initial agent that is the cause of all things.</h3>
    <p>Prime mover, those who widen our horizon.</p>
    <p>We live in a world constructed by a web of countless ideas.</p>
    <p>Inside, there are people called "Prime Movers" who constantly ponder new questions</p>
    <p>In order to extend the frontiers of our collective knowledge.</p>
    <p style="margin-bottom:10px"></p>
    <p>They dream of a world and think of ideas that no one has yet to imagine.</p>
    <p>They dare to try new things that no one has yet to dare.</p>
    <p>They make the world a little bit different from yesterday.</p>
    <p>Those are the people we call "Prime Movers".</p>
  </div>
</section>
    <a name="members"></a>
<section class="members" id="members">
  <div class="row">
    <h2>About Team<br>& Members</h2>
    <h3>HUMAN TOUR와 함께 하는 '치열한 낭만주의자' 4인</h3><br>
    <p style="margin-bottom:10px;"></p>
    <p style="font-size:1.5em;">권은진 : Project Manager, 꿈꾸는 몽상가</p>
    <p>  은진은 자유전공학부에서 '인문소통학'을 전공하며 'Inspiring Stories'를 찾아내고, 만들며, 전파하는 인문학 공간을 꿈꾸고 있습니다.</p>
    <p style="margin-bottom:10px;"></p>
    <p style="font-size:1.5em;">손성호 : Information Manager, 창조적 무법자</p>
    <p>  성호는 자유전공학부에서 '인공지능공학'을 전공하며 '널리 따뜻한 첨단기술'을 추구하기 위해 공부하고, 고민하고, 또 즐기고 있습니다.</p>
    <p style="margin-bottom:10px;"></p>
  <p style="font-size:1.5em;">김다진 : 본투비 네티즌</p>
    <p>  어렸을 땐 책을 통해, 지금은 인터넷을 통해 이야기들을 집착적으로 모으고 있습니다. 겉으로는 얌전해 보입니다.</p>
    <p style="margin-bottom:10px;"></p>
 <p style="font-size:1.5em;">박창현 : 주식 같은 남자</p>
    <p>  상한가를 모르는 무한성장 우량주! 창현은 불꽃같은 열정과 사랑으로 날마다 영혼을 불태웁니다.</p>
  </div>
</section>

<section class="contact">
  <div class="row">
    <a name="contact"></a>
    <h2>CONTACT</h2>
    <p>이메일 : contact@humantour.org</p>
    <p>홈페이지 : http://www.humantour.org:3000</p>
  </div>
</section>
<!--
-->
