<section class="toppart">
  <div class="row">
    <br><br><br><br><br><br>
    <% if !flash[:alert].nil? %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
    <% end %>
  </div>
</section>
<section class="introduction">
  <div class="row">
    <h3>Humantour의 이야기들을 볼 수 있는 곳입니다.</h3>
    <p>회원가입을 하신 후 함께 이야기 나누실 수 있습니다.</p>
  </div>
</section>
<%= render :partial => "wall/posts" %>
