<link rel="stylesheet" href="/css/sections_about_bw.css">
<section class="margin">
  <div class="row">
  <p style="margin-bottom:75px;"></p>
  </div>
</section>
<section class="toppart">
  <div class="row">
    <% if !flash[:alert].nil? %>
    <div class="alert alert-danger">
      <p style="text-align: center;"> <%= flash[:alert] %></p>
    </div>
    <% end %>
  </div>
</section>
<section class="members" id="members">
  <div class="row">
    <h2>About Team<br>& Members</h2>
    <h3>HUMAN TOUR와 함께 하는 '치열한 낭만주의자' 4인</h3><br>
    <p style="margin-bottom:10px;"></p>
    <p style="font-size:1.5em;">권은진 : Project Manager, 꿈꾸는 몽상가</p>
    <p>  은진은 자유전공학부에서 '인문소통학'을 전공하며 'Inspiring Stories'를 찾아내고, 만들며, 전파하는 인문학 공간을 꿈꾸고 있습니다.</p>
    <p style="margin-bottom:10px;"></p>
    <p style="font-size:1.5em;">손성호 : Information Manager, 창조적 무법자</p>
    <p>  인공지능과 게임 디자인, 립싱크에 관심이 많습니다. '널리 따뜻한 첨단기술'을 추구하기 위해 공부하고, 고민하고, 또 즐기고 있습니다.</p>
    <p style="margin-bottom:10px;"></p>
  <p style="font-size:1.5em;">김다진 : 본투비 네티즌</p>
    <p>  어렸을 땐 책을 통해, 지금은 인터넷을 통해 이야기들을 집착적으로 모으고 있습니다. 겉으로는 얌전해 보입니다.</p>
    <p style="margin-bottom:10px;"></p>
 <p style="font-size:1.5em;">박창현 : 주식 같은 남자</p>
    <p>  상한가를 모르는 무한성장 우량주! 창현은 불꽃같은 열정과 사랑으로 날마다 영혼을 불태웁니다.</p>
  </div>
</section>
