<div class="container">
  <h1 class="humantour0-title"><a class="humantour0-title-link" href="/">Humantour Stories</a></h1>
</div>

<header class="cbp-af-header primary-border-color fadeInDown">
  <div class="row">
   <div class="sub-row">

<nav>
  <ul class="menu-list">
<!--<nav class="navbar navbar-default" role="navigation">
  <div class="container"> -->
    <ul class="menu-list">
      <li><a href="/">About</a></li>
      <li><a href="/wall/show">Blog</a></li>
      <% if !session[:user_id].nil? %>
        <% u = User.find(session[:user_id]) %>
        <% if u.usertype == 1 || u.usertype == 2 %>
          <li><a href="/wall/write">글쓰기</a></li>
        <% end %>
      <% end %>
   <!-- </ul>

    <ul class="nav navbar-nav navbar-right">-->
      <%if session[:user_id].nil? %>
      <li><a href="/users/signup">회원가입</a></li>
      <li><a href="/users/login">로그인</a></li>
      <% else %>
      <li><a href="/users/logout_complete">로그아웃</a></li>
      <% end %>
    </ul>
  <!--</div>
</nav>-->
</nav>
    </div>
  </div>
</header>
