<!-- Header ================================================================================= -->
	<header class="cbp-af-header primary-border-color fadeInDown">
		<div class="row">
		
			<div class="sub-row">
				<a class="logo" title="Home">	
									
		  	<!-- TEXT LOGO -->
		  	<!-- <span class="text-logo">Inspirazi<span class="primary-color"> CS</span></span> -->  	 					
				</a>
	
				<nav>
					<ul class="menu-list">
						<li><a>ABOUT</a></li>
						<li><a>SERVICE</a></li>
						<li><a>CONTACT</a></li>
					</ul>
		
					<ul class="social-list">
						<li class="separator">|</li>
						<li><span class="iconFont"><a onclick="window.open('http://www.twitter.com/','_blank');" class="fa fa-twitter"></a></span></li>
						<li><span class="iconFont"><a onclick="window.open('http://www.facebook.com/','_blank');" class="fa fa-facebook"></a></span></li>																
					</ul>
				</nav>
			</div>
						
		</div>
	</header>
<!-- Header END ================================================================================= -->
