<header class="primary-border-color fadeInDown">
<div class="row">
  <div class="sub-row">

    <nav>
        <ul class="menu-list">
          <li><a href="/">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/wall/show">Interviews</a></li>
          <% if !session[:user_id].nil? %>
            <% u = User.find(session[:user_id]) %>
            <% if u.usertype == 1 || u.usertype == 2 %>
              <li><a href="/wall/write">글쓰기</a></li>
            <% end %>
          <% end %>
          <%if session[:user_id].nil? %>
            <li><a href="/users/signup">Join</a></li>
            <li><a href="/users/login">Login</a></li>
          <% else %>
            <li><a href="/users/logout_complete">Logout</a></li>
          <% end %>
        </ul>
    </nav>
  </div>
</div>
</header>



