<!DOCTYPE html>
<html>
<head>
  <title>Humantour0</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<h4><a href="/">Humantour Stories</a> || <a href="/tour">Tours</a> | <a href="/interview">Interviews</a></h4>

<%= yield %>

</body>
</html>
